.case-study-banner {
  width: 100%;
  height: auto; }

.case-study-body {
  position: relative;
  top: -150px;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 100px;
  padding-right: 100px;
  background: white; }
  .case-study-body p {
    margin-top: 30px;
    margin-bottom: 30px; }

.project-outline {
  line-height: 140px;
  border-bottom: 1px solid #C1C1C1;
  display: flex; }
  .project-outline.minor {
    justify-content: space-between; }
  .project-outline.major {
    padding-bottom: 50px;
    justify-content: flex-start;
    margin-bottom: 50px; }
  .project-outline .outline-detail.major {
    margin-right: 100px; }
  .project-outline .outline-detail .detail-header {
    color: #727272; }
    .project-outline .outline-detail .detail-header.minor {
      text-transform: capitalize; }
    .project-outline .outline-detail .detail-header.major {
      text-transform: uppercase;
      line-height: 75px; }
    .project-outline .outline-detail .detail-header::after {
      content: ' - '; }
  .project-outline .outline-detail .detail-value.major {
    line-height: initial; }
  .project-outline .outline-detail .detail-value a {
    text-decoration: none; }
    .project-outline .outline-detail .detail-value a img.micro {
      margin-left: 5px; }
  .project-outline .outline-detail.major {
    width: 450px;
    display: inline-block; }

#view-site {
  border-bottom: 2px solid black;
  padding-left: 30px;
  padding-right: 30px; }
  #view-site a {
    color: black;
    text-decoration: none; }

img.micro {
  width: 13px;
  height: auto; }

.highlighted-header {
  color: #E85F64;
  text-transform: uppercase; }
  .highlighted-header img.micro {
    width: 17px;
    height: auto;
    margin-left: 8px; }

#challenge {
  float: left;
  width: 30%; }

#role {
  float: right; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.other-case-studies {
  width: 30%; }
  .other-case-studies h3 {
    margin-bottom: 3px; }
  .other-case-studies p {
    margin-top: 3px;
    font-weight: bold;
    font-size: 1.25em; }

img.case-study-related {
  width: 100%; }

p.case-study-related.captions {
  margin-top: 10px;
  color: #757575; }

#case-study-behance-link img {
  margin-bottom: 30px;
  margin-left: 10px;
  width: 250px;
  height: auto; }

.moodboards {
  margin-bottom: 40px; }
  .moodboards .big {
    width: 38%;
    display: inline-block; }
    .moodboards .big img {
      width: 100%;
      height: auto; }
  .moodboards .small {
    width: 59%;
    display: inline-block; }
    .moodboards .small img {
      width: 49%;
      height: auto; }

#client-remarks {
  text-align: center;
  border: 2px solid #E3E3E3;
  padding: 10px 90px 20px 90px; }
  #client-remarks > h4 {
    text-transform: uppercase; }
  #client-remarks #client-profile > img {
    height: 90px;
    margin: auto; }
  #client-remarks #client-profile img.micro {
    width: 17px;
    margin-left: 5px;
    position: relative;
    top: 2px; }
  #client-remarks #client-profile h4 {
    text-transform: capitalize;
    margin-bottom: 3px; }
  #client-remarks #client-profile p {
    margin-top: 3px; }
  #client-remarks #client-profile .continued-block {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    height: 90px; }

body {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
  margin: 0px;
  font-family: 'Muli', sans-serif;
  line-height: 25px; }

h1 {
  line-height: 50px; }

h3 {
  line-height: 40px; }

a {
  color: #FE283D; }

header {
  margin-top: 25px;
  margin-bottom: 25px; }

#sidebar {
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  margin-top: 0px;
  padding-left: 0px;
  padding-top: 60px;
  transition: 0.5s; }
  #sidebar li {
    display: block;
    list-style: none;
    padding: 10px 20px 10px 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: capitalize; }
    #sidebar li a {
      color: #808080;
      text-decoration: none; }
    #sidebar li a:hover {
      color: #f2f2f2; }
  #sidebar li.active {
    border-left: 7px solid white; }
    #sidebar li.active a {
      color: white; }

#logo {
  width: 200px;
  padding-top: 18px;
  float: left; }

#sidebar-open {
  display: none; }

#sidebar-close {
  position: fixed;
  left: 180px;
  display: none; }
  #sidebar-close img {
    width: 20px;
    height: auto; }

header nav ul {
  float: right; }

header nav ul li {
  display: inline-block;
  list-style: none; }

#cover {
  width: 100%;
  height: 360px;
  background-image: url("../img/img_header_cover.png");
  background-size: cover;
  background-repeat: no-repeat; }

#bio {
  padding-top: 70px; }
  #bio h3 {
    padding-top: 20px; }

p.sub-text {
  padding-top: 15px; }

.primary-button {
  background-color: black;
  padding: 15px 40px 15px 40px;
  color: white;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  transition: all .2s ease-in-out; }

.primary-button:hover {
  transform: scale(1.05); }

#work-intro-header {
  color: #4A4A4A;
  letter-spacing: 2px;
  font-weight: lighter;
  margin-top: 300px; }

.passive-color {
  color: #4A4A4A; }

.spaced-out {
  letter-spacing: 2px; }

.bold {
  font-weight: bold; }

.light {
  font-weight: lighter; }

#case-studies .case-study-item img {
  width: 100%;
  height: auto; }

#case-studies .case-study-item h2 {
  font-weight: lighter; }

#case-studies .case-study-item h3 {
  line-height: 20px; }

.tag {
  background: #75A43C;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 5px 5px 5px 5px;
  margin-left: 5px; }

/*For Download link, we append a line at the end of last paragraph */
#download-cv {
  margin-top: 20px;
  margin-bottom: 15px; }

#expertise {
  padding-top: 20px;
  float: right; }

#line-breaker {
  list-style: none;
  padding-top: 40px;
  padding-bottom: 40px; }

.content-offset {
  padding-left: 100px; }

#work-with-me {
  width: 50%; }

.horizontally-stacked {
  display: inline-block;
  width: 33%; }

footer {
  margin-top: 100px;
  margin-bottom: 100px; }

#copyright-notice {
  float: left;
  line-height: 15px; }
  #copyright-notice p {
    font-size: 0.8em;
    margin-bottom: 0px;
    margin-top: 0px; }

footer nav {
  float: right;
  /**Warning : change this later **/
  position: relative;
  top: -15px; }

.social-links {
  padding-left: 0px; }

.social-links li {
  display: inline;
  list-style: none;
  padding-right: 20px; }

.social-links li img {
  width: 16px;
  height: 16px; }

.center-aligned {
  text-align: center; }

#intro-brief {
  margin-top: 100px;
  margin-bottom: 70px; }
  #intro-brief img {
    height: 1.5em;
    vertical-align: sub;
    padding-right: 10px; }

#intro .social-links li img {
  width: 20px;
  height: auto; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

.nav-link {
  display: inline-block;
  margin-right: 15px;
  color: black;
  text-transform: uppercase;
  text-decoration: none; }

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s; }

.nav-link:hover::after {
  width: 100%; }

.nav-link.active {
  font-weight: 700; }

.nav-link.active::after {
  width: 35%; }

#contact-email {
  color: black;
  border-left: 1px black solid;
  padding-left: 15px;
  text-decoration: none; }

@media only screen and (min-width: 1501px) {
  .outer-margin-offset {
    margin-left: 300px;
    margin-right: 300px; }
  #intro-brief {
    padding-left: 25%;
    padding-right: 25%; }
  .intro-details {
    padding-left: 20%;
    padding-right: 20%; }
  #case-studies {
    padding-left: 200px;
    padding-right: 200px; }
  footer {
    margin-left: 150px;
    margin-right: 150px; } }

@media only screen and (max-width: 1500px) {
  .outer-margin-offset {
    margin-left: 100px;
    margin-right: 100px; }
  #intro-brief {
    padding-left: 15%;
    padding-right: 15%; }
  .intro-details {
    padding-left: 5%;
    padding-right: 5%; }
  #case-studies {
    padding-left: 50px;
    padding-right: 50px; }
  footer {
    margin-left: 50px;
    margin-right: 50px; } }

@media only screen and (min-width: 1051px) {
  .case-study-item {
    width: 47%;
    display: inline-block; }
  .item-left {
    padding-right: 20px;
    float: left; }
  .item-right {
    padding-left: 20px;
    margin-top: 100px; } }

@media only screen and (max-width: 1050px) and (min-width: 836px) {
  .case-study-item {
    width: 100%;
    margin: auto;
    margin-bottom: 100px;
    display: block; }
  .item-left {
    padding-right: 0px; }
  .item-right {
    padding-left: 0px; }
  .outer-margin-offset {
    margin-left: 50px;
    margin-right: 50px; } }

@media only screen and (max-width: 835px) {
  #logo-container {
    padding-top: 18px;
    text-align: center;
    width: 100%;
    display: block; }
    #logo-container a {
      display: inline-block; }
      #logo-container a #logo {
        width: 160px; }
  #horizontal-nav-links {
    display: none; }
  #sidebar-open {
    display: block; }
    #sidebar-open img {
      width: 18px;
      height: auto;
      position: absolute;
      top: 60px;
      left: 30px; }
  #intro-brief {
    padding-left: 5%;
    padding-right: 5%; }
  .intro-details {
    padding-left: 5%;
    padding-right: 5%; }
  #case-studies {
    padding-left: 0px;
    padding-right: 0px; }
  .case-study-item {
    width: 100%;
    margin: auto;
    margin-bottom: 60px;
    display: block; }
    .case-study-item h4, .case-study-item h2, .case-study-item h3 {
      margin-left: 50px;
      margin-right: 50px; }
  .item-left {
    padding-right: 0px; }
  .item-right {
    padding-left: 0px; }
  .outer-margin-offset {
    margin-left: 50px;
    margin-right: 50px; }
  footer {
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px; }
    footer nav {
      position: relative;
      top: -30px;
      float: none; }
      footer nav .social-links li {
        padding-right: 15px; }
    footer #copyright-notice {
      position: relative;
      float: none;
      top: 40px;
      display: block; } }
