$outer-left-margin : 200px;
$outer-right-margin : 200px;

body{
	padding-left:0px;
	padding-right:0px;
	padding-bottom:20px;
	margin:0px;
	font-family: 'Muli', sans-serif;
}

.outer-margin-offset{
	margin-left:$outer-left-margin;
	margin-right:$outer-right-margin;
}

header{
	margin-top:25px;
	margin-bottom:25px;
}

#logo{
	float:left;
	width:200px;
	padding-top:18px;
}

header nav ul{
	float: right;
}

header nav ul li{
	display: inline-block;
	list-style: none;
}

#cover{
	width:100%;
	height:360px;
	background-image: url("../img/img_header_cover.png");
	background-size:cover;
	background-repeat: no-repeat;
}

#bio{
	padding-top:20px;
}

/*For Download link, we append a line at the end of last paragraph */
#download-cv{
	margin-top:18px;
	margin-bottom:35px;
	background-color:black;
	padding:15px 40px 15px 40px;
	color:white;
	display: inline-block;
	text-decoration: none;
	border-radius: 5px;
}

#expertise{
	padding-top: 20px;
	float: right;
}

#line-breaker{
	list-style: none;
	padding-top:40px;
	padding-bottom:40px;
}

.content-offset{
	padding-left:100px;
}

#work-with-me{
	width:50%;
}

hr{
	margin-bottom: 20px;
}

.copyright{
	float: left;
}

.copyright p{
	font-size:0.8em;
	margin-bottom:0px;
	margin-top:0px;
}

footer nav{
	float: right;
	/**Warning : change this later **/
	position: relative;
	top:-15px;
}

.social-links li{
	display: inline;
	list-style: none;
	padding-left:20px;
}

.social-links li img{
	width:16px;
	height:16px;
}

.center-aligned{
	text-align: center;
}

#intro-brief{
	padding-left:25%;
	padding-right:25%;
	margin-top:100px;
	margin-bottom:70px;
}

.intro-details{
	padding-left:20%;
	padding-right:20%;
}

#intro .social-links ul{
	padding-left:0px;
}

.uppercase{
	text-transform: uppercase;
}

.lowercase{
	text-transform: lowercase;
}

.capitalize{
	text-transform: capitalize;
}

.nav-link{
	display:inline-block;
	margin-right:15px;
	color:black;
	text-transform: uppercase;
	text-decoration: none;
}

.nav-link::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #000;
	transition: width .3s;
}

.nav-link:hover::after {
	width: 100%;
  }
  

#contact-email{
	color:black;
	border-left: 1px black solid;
	padding-left:15px;
	text-decoration: none;
}