<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{.Title}}</title>
  {{ $options := (dict "includePaths" (slice "assets/css")) }}
  {{ $style := resources.Get "css/style.scss" | resources.ToCSS $options| resources.Minify}}
  <link rel="stylesheet" href="{{$style.Permalink}}">
  <link rel='shortcut icon' type='image/png' href='/favicon.png' />
  <!-- Custom event handling -->
  <script src="/js/ui-handling.js"></script>
    
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-132209150-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-132209150-1');
</script>


</head>
<body>
	{{block "header" .}} {{partial "header.html" .}} {{end}}
	
	<img src="{{.Params.caseStudy.heroImage}}"
 		alt="Case Study Banner" 
 		class="case-study-banner"/>

	<div class="case-study-body">

		<!-- Case Study Summary -->

		<div class="project-outline minor">
			<div class="outline-detail">
				<span class="detail-header minor">{{i18n "caseStudy.startDate" | safeHTML}}</span>
				<span class="detail-value">{{.Params.caseStudy.startDate}}</span>
			</div>
			<div class="outline-detail">
				<span class="detail-header minor">{{i18n "caseStudy.status" | safeHTML}}</span>
				<span class="detail-value capitalize">{{.Params.caseStudy.status}}</span>
			</div>
			<div class="outline-detail">
				<div id="view-site" class="detail-value capitalize"><a href={{.Params.caseStudy.projectUrl}}>{{i18n "caseStudy.viewSite" | safeHTML}}</a></div>
			</div>
			<div class="outline-detail">
				<span class="detail-header minor">{{i18n "caseStudy.share" | safeHTML}}</span>
				<span class="detail-value capitalize">
					<a href="{{.Params.caseStudy.facebookShare}}">
						<img src="/img/ic_facebook_share.svg" alt="Facebook" class="micro">
					</a>
					<a href="{{.Params.caseStudy.twitterShare}}">
						<img src="/img/ic_twitter.svg" alt="Twitter" class="micro">
					</a>
					<a href="{{.Params.caseStudy.linkedInShare}}">
						<img src="/img/ic_linkedin.svg" alt="Linked In" class="micro">
					</a>
				</span>
			</div>
		</div>
		<div class="project-outline major">
			<div class="outline-detail major">
				<div class="detail-header major">{{i18n "caseStudy.projectSummary" | safeHTML}}</div>
				<div class="detail-value major">{{.Params.caseStudy.projectSummary}}</div>
			</div>
			<div class="outline-detail major">
				<div class="detail-header major">{{i18n "caseStudy.deliverables" | safeHTML}}</div>
				<div class="detail-value major">{{.Params.caseStudy.deliverables}}</div>
			</div>
			<div class="outline-detail major">
				<div class="detail-header major">{{i18n "caseStudy.client" | safeHTML}}</div>
				<div class="detail-value major">
					{{.Params.caseStudy.clientName}}
					<a href="{{.Params.caseStudy.clientLinkedIn}}" target="_blank">
						<img src="/img/ic_linkedin_profile.svg" alt="Linked In" class="micro">
					</a>
				</div>
			</div>
		</div>

		{{if eq .Params.id "veme"}}
			{{block "veme" .}} {{partial "veme.html" .}} {{end}}
		{{else if (eq .Params.id "cannalign")}}
			{{block "cannalign" .}} {{partial "cannalign.html" .}} {{end}}
		{{else}}
			{{block "main" .}} {{end}}
		{{end}}

		<!-- Previous case studies if exists -->

		{{if isset .Params "previous"}}
			{{ $previous := .Params.previous}}
			{{ with .Site.GetPage "/case-studies" }}
				{{ with .GetPage $previous }}
				<div class="other-case-studies float-left">
					{{if .Params.isCaseStudy}}
					<a href='/case-study/{{.Params.id}}/'>
					{{else}}
					<a href='{{.Params.externalPortfolioUrl}}' target="_blank">
					{{end}}
					<h4 class="highlighted-header">
						{{if .Params.isCaseStudy}}
							{{i18n "caseStudy.readPreviousCaseStudy" | safeHTML}}
						{{else}}
							{{.Params.previewCaption}}
							<img class="micro" src="/img/ic_open_tab.svg" alt="Opens in new tab">
						{{end}}
					</h4>
					<p>
						{{.Params.name}}- {{.Params.previewOverview}}
					</p>
					</a>
				</div>
				{{end}}
			{{end}}
		{{end}}


		<!-- Next case study if exists -->
		{{if isset .Params "next"}}
			{{ $next := .Params.next}}
			{{ with .Site.GetPage "/case-studies" }}
				{{ with .GetPage $next }}
					<div class="other-case-studies float-right">
					{{if .Params.isCaseStudy}}
						<a href='/case-studies/{{.Params.id}}'>
					{{else}}
						<a href='{{.Params.externalPortfolioUrl}}' target="_blank">
					{{end}}
							<h4 class="highlighted-header">
								{{if .Params.isCaseStudy}}
									{{i18n "caseStudy.readNextCaseStudy" | safeHTML}}
								{{else}}
									{{.Params.previewCaption}}
									<img class="micro" src="/img/ic_open_tab.svg" alt="Opens in new tab">
								{{end}}
							</h4>
							<p>
								{{.Params.name}}- {{.Params.previewOverview}}
							</p>
						</a>
					</div>
				{{end}}
			{{end}}
		{{end}}
		<!-- Clear the floats -->
		<div style="clear: both;"></div> 

	</div>

	{{block "footer" .}} {{partial "footer.html" .}} {{end}}
  </body>
</html>
