{{!-- Challenge and Roles --}}

<div id="challenge">
	<h2 class="highlighted-header">the challenge</h2>
	<p>{{{caseStudy.challenge}}}</p>
</div>
<div id="role">
	<h2 class="highlighted-header">my role</h2>
	<ul>
		{{#listCSV caseStudy.myRolesCommaSeperated}}{{/listCSV}}
	</ul>
</div>
<!-- Clear the floats -->
<div style="clear: both;"></div> 
