<footer>
	<div id="copyright-notice">
		<p>Crafted with love</p>
		<p>&copy; 2018. All rights reserved with <span class="bold">Swati Soni</span></p>
	</div>
	<nav>
		<ul class="social-links">
			<li><a href="https://twitter.com/swaver28"><img src="/img/ic_twitter.svg" alt="Twitter"></a></li>
			<li><a href="https://www.linkedin.com/in/swatisoni1"><img src="/img/ic_linkedin.svg" alt="LinkedIn"></a></li>
			<li><a href="https://www.instagram.com/_swatisoni/"><img src="/img/ic_instagram.svg" alt="Instagram"></a></li>
			<li><a href="https://www.behance.net/SwatiVerma"><img src="/img/ic_behance.svg" alt="Behance"></a></li>
			<li><a href="https://dribbble.com/swatisoni"><img src="/img/ic_dribbble.svg" alt="Dribble"></a></li>
			<li><a href="https://medium.com/@contact.swatisoni"><img src="/img/ic_medium.svg" alt="Medium"></a></li>
		</ul>
	</nav>
</footer>