<header class="outer-margin-offset">
	<nav>

		<a id="side-menu-hamburger" >
			<img src="/img/ic_menu.svg"/>
		</a>

		<div id="logo-container">
			<!-- Consider using https -->
			<a href="http://www.swatisoni.com">
				<img id="logo" src="/img/logo.svg"/>
			</a>
		</div>
		<ul id="horizontal-nav-links">
			<li><a class="nav-link {{#if activeLink.work}}active{{/if}}" href="/">work</a></li>
			<li><a class="nav-link {{#if activeLink.about}}active{{/if}}" href="/about">about</a></li>
			<li><a class="nav-link" href="https://www.linkedin.com/in/swatisoni1">linked in</a></li>
			<li>
					<a id="contact-email" class="mini-left-gap" href="mailto:hello@swatisoni.com?Subject=Hello%20Swati" target="_top">
						hello@swatisoni.com
					</a>
				</li>
		</ul>
	</nav>
	<!-- Clear the float -->
	<div style="clear: both;"></div>
</header>