<header class="outer-margin-offset">
	<nav>
		<!-- Consider using https -->
		<a href="http://www.swatisoni.com">
			<img id="logo" src="/img/logo.svg"/>
		</a>
		<ul>
			<li><a class="nav-link {{#if activeLink.work}}active{{/if}}" href="/">work</a></li>
			<li><a class="nav-link {{#if activeLink.about}}active{{/if}}" href="/about">about</a></li>
			<li><a class="nav-link" href="https://www.linkedin.com/in/swatisoni1">linked in</a></li>
			<li>
					<a id="contact-email" class="mini-left-gap" href="mailto:hello@swatisoni.com?Subject=Hello%20Swati" target="_top">
						hello@swatisoni.com
					</a>
				</li>
		</ul>
	</nav>
	<!-- Clear the float -->
	<div style="clear: both;"></div>
</header>