<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{.Title }}</title>
  {{ $style := resources.Get "css/style.scss" | resources.ToCSS | resources.Minify}}
  <link rel="stylesheet" href="{{$style.Permalink}}">
  <script src="/js/ui-handling.js"></script>
  
</head>
<body>
	{{block "header" .}} {{partial "header.html" .}} {{end}}
	{{block "main" .}} {{end}}
	{{block "footer" .}} {{partial "footer.html" .}} {{end}}
  </body>
</html>
