$secondary-color:#E85F64;

.case-study-banner{
	width:100%;
	height:auto;
}

.case-study-body{
	position: relative;
	top:-150px;
	margin-left:200px;
	margin-right:200px;
	padding-left:100px;
	padding-right:100px;
	background: white;
	font-family: 'Muli', sans-serif;
	line-height: 30px;
	font-kerning: normal;
	font-weight: lighter;
	font-size:1.2em;
	
	p{
		margin-bottom:30px;
	}

	h2{
		margin-top:50px;
		margin-bottom:50px;
	}
}

.project-outline{
	line-height: 140px;
	border-bottom: 1px solid #C1C1C1;
	display: flex;
	&.minor{
		justify-content: space-between;
	}
	&.major{
		padding-bottom:50px;
		justify-content: flex-start;
		margin-bottom:50px;
	}
	.outline-detail{

		&.major{
			margin-right:100px;
		}

		.detail-header{
			color:#727272;
			&.minor{
				text-transform: capitalize;
			}
			&.major{
				text-transform: uppercase;
				line-height: 75px;
			}
			&::after{
				content: ' - ';
			}
		}
		.detail-value{
			&.major{
				line-height: initial;
			}
			a{
				text-decoration: none;
				img.micro{
					margin-left:5px;
				}
			}
		}

		&.major{
			width:450px;
			display: inline-block;
		}
	}

}
#view-site{
	border-bottom:2px solid black;
	padding-left:30px;
	padding-right:30px;
	a{
		color:black;
		text-decoration: none;
	}
}

img.micro{
	width:13px;
	height:auto;
}

.highlighted-header{
	color:$secondary-color;
	text-transform: uppercase;
	img.micro{
		width:17px;
		height:auto;
		margin-left: 8px;
	}
}

#veme-analysis-conclusion{
	margin-bottom: 100px;
	li{
		margin-bottom:25px;
	}
}

#challenge{
	float:left;
	width:50%;
}

#role{
	float:right;
	line-height:37px;

	>div>img{
		width:20px;
		height:auto;
		padding-right:30px;
		padding-left:20px;
	}
}

.float-left{
	float:left;
}

.float-right{
	float:right;
}

.other-case-studies{
	width:40%;
	h3{
		color:$secondary-color;
		margin-bottom:3px;
	}
	p{
		margin-top:3px;
		font-weight: bold;
		font-size:1.25em;
		text-decoration-color: black;
		a{
			color:black;
		}
	}

	a{
		text-decoration: none;
		text-decoration-color: black;
		p{
			color:black;
		}
	}
	a:hover{
		text-decoration: underline;
		text-decoration-color: black;
	}
}

img.case-study-related{
	width:100%;
}

p.captions{
	margin-top:10px;
	color:#757575;
}

#case-study-behance-link{
	img{
		margin-bottom: 30px;
		margin-left: 10px;
		width:250px;
		height: auto;
	}
}

.moodboards{
	// margin-bottom:40px;
	.big{
		width:38%;
		// background-color: red;
		display: inline-block;
		img{
			width:100%;
			height: auto;
		}
	}
	.small{
		width:59%;
		// background-color: blue;
		display: inline-block;
		img{
			width: 49%;
			height: auto;
		}
	}
}

#client-remarks{
	text-align: center;
	border:2px solid #E3E3E3;
	padding:10px 90px 20px 90px;
	margin-top:50px;
	margin-bottom:30px;
	>h4{
		text-transform: uppercase;
	}

	#client-profile{
		$profile-pic-height:90px;
		>img{
			height:$profile-pic-height;
			margin:auto;
		}
		img.micro{
			width:17px;
			margin-left:5px;
			position: relative;
			top:2px;
		
		}
		h4{
			text-transform: capitalize;
			margin-bottom:3px;
		}
		p{
			margin-top:3px;
		}

		.continued-block{
			text-align:left;
			display: inline-block;
			vertical-align: top;
			margin-left: 20px;
			height: $profile-pic-height;
		}
	}
}

.persona{
	background-color: #F5F5F5;
	width:auto;
	height: 100%;
	padding:20px 20px 20px 20px;

	.profile{
		$profile-image-width:400px;
		$profile-image-height:500px;
		background-size:cover;
		display: inline-block;
		// flex-grow:1;
		// width:$profile-image-width;
		width:30%;
		// height:500px;
		// flex-basis: 30%;
		background-repeat: no-repeat;
		background-size: cover;
		padding-top:$profile-image-height;
		padding-left:25px;
		padding-bottom:20px;

		h4,h5{
			color:white;
			margin-top: 0px;
			margin-bottom: 0px;
		}
	}

	.detail{
		display: inline-block;
		// flex-grow: 2;
		width:60%;
		padding-left:20px;
		vertical-align: top;
		.lists-container{
			display: flex;
			flex-wrap: wrap;
			>div{
				width:40%;
				flex-grow:1;
				// margin-right:30px;
			}
		}
	}

	.quote{
		padding-left:20px;
		padding-right:20px;
	}
}

#cannalign-lists-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	>div{
		text-align: left;
		width:200px;
		text-align: center;
		>p.captions{
			margin-top:5px;
			margin-bottom:5px;
		}
		>ul{
			line-height:40px;
			padding:0;
			li{
				list-style: none;
				
			}
		}
	}
	.highlighted{
		background-color: #F9DB6C;
		padding:5px;
		
	}
}

#veme-design-illustration{
	// display: flex;
	width:100%;
	img{
		width:23%;
		height: auto;
		margin-left:5px;
	}
}

#veme-stats{
	width:100%;
	height:auto;
}

#veme-comp-analysis-table{
	width:70%;
	height:auto;
}

#veme-task-matrix{
	width:100%;
	height:auto;
}

#veme-final-output{
	width:90%;
	height:auto;
	padding-left:40px;
	margin-top: 30px;
	// margin-bottom: 70px;
}

//mainstream viewing (below 4k but ample enough, think laptops)
@media screen and (max-width:1440px) and (min-width:1025px){
	.case-study-body{
		top:-150px;
		margin-left: 100px;
		margin-right: 100px;
		padding-left:50px;
		padding-right:50px;
	}
	.project-outline{
		.outline-detail{
			display:flex;
			flex-wrap: wrap;
			span{
				display: block;
			}
			&.major{
				margin-right:30px;
			}
		}
	}
}

//breakpoint for fixing challenges and roles at below 1150
@media screen and (max-width:1150px){
	#challenge{
		float:none;
		width:100%;
	}
	#role{
		float:none;
	}
}

//below 1230 make persona wrap its content
@media screen and (max-width:1230px){
	.persona{
		text-align: center;
		.profile{
			text-align: initial;
			width:90%;
		}
		
		.detail{
			text-align: initial;
			width: 100%;
			padding-left:0px;
			.lists-container{
				display: flex;
				flex-wrap: wrap;
				>div{
					width:50%;
				}
			}
		}
	}
}

//below 1024 make other case studies (suggestions) come in one column
@media screen and (max-width:1024px){
	.other-case-studies.float-left,.other-case-studies.float-right{
		width:100%;
		&.float-left{
			float:none;
		}
		&.float-right{
			float:none;
		}
		h4{
			margin-bottom:10px;
		}
	}
}

//medium sized (small laptops/tablets etc)
@media screen and (max-width:1024px) and (min-width:769px){
	.case-study-body{
		top:-130px;
		margin-left: 50px;
		margin-right: 50px;
		padding-left:50px;
		padding-right:50px;
	}
	.project-outline{
		line-height: initial;
		padding-top:40px;
		padding-bottom:0px;
		&.minor{
			padding-top: 30px;
		}
		#view-site{
			padding-top:20px;
			padding-bottom:50px;
		}
		
		.outline-detail{
			display:flex;
			flex-direction: column;
			flex-wrap: wrap;
			padding-bottom: 0px;
			&.minor{
				padding-top:40px;
			}
			&.major{
				margin-right: 30px;
			}
			span{
				display: block;
			}
	
			.detail-header{
				&.minor{
					line-height:30px;
					margin-bottom: 10px;
				}
				&.major{
					line-height:30px;
					margin-bottom:10px;
				}
			}
			.detail-value{
				line-height: initial;
			}
		}
	}

	#client-remarks{
		padding:10px 50px 20px 50px;
	}

}

//everything below medium
@media screen and (max-width:768px){
	.case-study-body{
		top:-75px;
		margin-left: 30px;
		margin-right: 30px;
		padding-left:30px;
		padding-right:30px;
		>.project-outline{
			padding-left:30px;
			line-height: initial;
			padding-top:0px;
			padding-bottom:0px;
			display: flex;
			flex-direction: column;
			border-bottom: 0px;
			&:first-child{
				padding-top:40px;
			}

			.detail-header.major{
				line-height:60px;
			}
			.outline-detail.major{
				width:100%;
				display: inline-block;
			}
		}
	}
	.outline-detail{
		margin-bottom:20px;
	}
	#view-site{
		padding-left: 0px;
		border:0px;
		a{
			color:black;
			text-decoration: none;
		}
	}

	#client-remarks{
		padding:10px 10px 20px 10px;
	}

	//make goals and pain points of persona come in one column
	.persona{
		
		.detail{
			.lists-container{
				display: flex;
				flex-wrap: wrap;
				>div{
					width:100%;
				}
			}
		}
	}
}

//extra low margins for ultra small devices
@media screen and (max-width:321px){
	.case-study-body{
		top:-40px;
		margin-left: 10px;
		margin-right: 10px;
		padding-left:10px;
		padding-right:10px;
		
	}
}

//veme design illustration wrap over for small sizes
//cannalign moodboards remove big image
@media screen and (max-width:580px){
	#veme-design-illustration{
		display: flex;
		flex-direction: column;
		img{
			width:100%;
			height: auto;
			margin-left:0px;
			margin-bottom: 20px;
		}
	}

	.moodboards{
		.big{
			display: none;
		}
		.small{
			width:100%;
			img{
				width: 45%;
				height: auto;
			}
		}
	}
}