@import 'case-study';

$theme-color:#fe5164;

body{
	padding-left:0px;
	padding-right:0px;
	padding-bottom:20px;
	margin:0px;
	font-family: 'Muli', sans-serif;
	line-height: 25px;
}

h1{
	line-height: 50px;
}

h3{
	line-height: 40px;
}

// theme highlight
.themed{
	color:$theme-color;
}

a{
	color:$theme-color;
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}

header{
	margin-top:25px;
	margin-bottom:25px;
}

.full-height{
	height:100%;
}

#sidebar{
	height: 100%;
	width: 0px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x:hidden;
	margin-top:0px;// to overriding user agent stylesheet
	padding-left:0px;// to overriding user agent stylesheet
	padding-top: 60px;
	transition: 0.5s;
	
	li{
		display: block;
		list-style: none;
		padding:10px 20px 10px 30px;
		margin-top:15px;
		margin-bottom:15px;
		text-transform: capitalize;
		a{
			color:#808080;
			text-decoration: none;
		}
		a:hover{
			color:#f2f2f2;
		}
	}

	li.active{
		border-left:7px solid white;
		a{
			color:white;
		}
	}


}

#logo{
	width:200px;
	padding-top:18px;
	float:left;
}

#sidebar-open{
	display: none;
}

#sidebar-close{
	position: fixed;
	left:180px;
	display: none;
	img{
		width:20px;
		height: auto;
	}
}

header nav ul{
	float: right;
}

header nav ul li{
	display: inline-block;
	list-style: none;
}

#cover{
	width:100%;
	height:360px;
	background-image: url("../img/img_header_cover.png");
	background-size:cover;
	background-repeat: no-repeat;
}

#bio{
	padding-top:70px;
	h3{
		padding-top:20px;
	}
}

p.sub-text{
	padding-top:15px;
}

.primary-button{
	background-color:black;
	padding:15px 40px 15px 40px;
	color:white;
	display: inline-block;
	text-decoration: none;
	border-radius: 5px;
	transition: all .2s ease-in-out;
}

.primary-button:hover{
	transform: scale(1.05);
}

#work-intro-header{
	color:#4A4A4A;
	letter-spacing: 2px;
	font-weight: lighter;
	// margin-top:100px;
	// margin-bottom:300px;
}

#scroll-invite{
	margin-top:100px;
	margin-bottom:300px;

	img{
		margin:auto;
		display: block;
		width: 80px;
		height:auto;
	}
}

.passive-color{
	color:#4A4A4A;
}

.spaced-out{
	letter-spacing: 2px;
}

.bold{
	font-weight: bold;
}

.light{
	font-weight:lighter;
}

#case-studies{

	.case-study-item{
		h2{
			font-size:2em;
		}
		>a{
			
			color:black;
			text-decoration: none;
			&:hover{
				// text-decoration: underline;
				color:$theme-color;
				h2{
					color:black;
				}
			}
		}
		
		img{
			width:100%;
			height: auto;
		}

		h2{
			font-weight: lighter;
		}

		h3{
			line-height: 20px;
		}
		
	}
}

.tag{
	background: #75A43C;
	color:white;
	border-radius: 5px;
	text-transform: uppercase;
	font-size:0.8em;
	padding:5px 5px 5px 5px;
	margin-left:5px;
}
/*For Download link, we append a line at the end of last paragraph */
#download-cv{
	margin-top:20px;
	margin-bottom:15px;
	
}

#download-resume{
	text-decoration: none;
	color:black;
	&:hover{
		color:$theme-color;
	}
}

#expertise{
	padding-top: 20px;
	float: right;
}

#line-breaker{
	list-style: none;
	padding-top:40px;
	padding-bottom:40px;
}

.content-offset{
	padding-left:100px;
}

#work-with-me{
	width:50%;
}

.horizontally-stacked{
	display: inline-block;
	width:30%;
}

footer{
	margin-top:100px;
	margin-bottom:100px;
}

#copyright-notice{
	float: left;
	line-height: 15px;
	p{
		font-size:0.8em;
		margin-bottom:0px;
		margin-top:0px;
	}
}

footer nav{
	float: right;
	/**Warning : change this later **/
	position: relative;
	top:-15px;
}

.social-links{
	padding-left:0px;
	margin-top:30px;
}

.social-links li{
	display: inline;
	list-style: none;
	padding-right:20px;
}

.social-links li img{
	width:16px;
	height:16px;
}

.center-aligned{
	text-align: center;
}

#intro-brief{
	margin-top:100px;
	margin-bottom:50px;
	line-height: 35px;
	img{
		height:1.5em;
		vertical-align: sub;
		padding-right:10px;
	}
}

#intro{
	margin-top:150px;
	.social-links li img{
		width:20px;
		height:auto;
	}
	>p.intro-details{
		font-size: large;
	}
}

.uppercase{
	text-transform: uppercase;
}

.lowercase{
	text-transform: lowercase;
}

.capitalize{
	text-transform: capitalize;
}

.nav-link{
	display:inline-block;
	margin-right:15px;
	color:black;
	text-transform: uppercase;
	text-decoration: none;
}

.nav-link::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #000;
	transition: width .3s;
}

.nav-link:hover::after {
	width: 100%;
}

.nav-link.active{
	font-weight: 700;
}

.nav-link.active::after{
	width:35%;
}

#contact-email{
	color:black;
	border-left: 1px black solid;
	padding-left:15px;
	text-decoration: none;
	&:hover{
		color:$theme-color;
	}
}

// large
@media only screen and (min-width:1501px){
	.outer-margin-offset{
		margin-left:300px;
		margin-right:300px;
	}

	#intro-brief{
		padding-left:25%;
		padding-right:25%;
	}

	.intro-details{
		padding-left:20%;
		padding-right:20%;
	}

	#case-studies{
		//left padding is controls center alignment because the items are left justified
		padding-left:400px;
		// padding-right:300px;
	}

	footer{
		margin-left:150px;
		margin-right:150px;
	}
}

//medium
@media only screen and (max-width:1500px){
	.outer-margin-offset{
		margin-left:100px;
		margin-right:100px;
	}

	#intro-brief{
		padding-left:15%;
		padding-right:15%;
	}

	.intro-details{
		padding-left:5%;
		padding-right:5%;
	}

	#case-studies{
		// padding-left:50px;
		// padding-right:50px;

		//left padding is controls center alignment because the items are left justified
		padding-left:250px;
	}

	footer{
		margin-left:50px;
		margin-right:50px;
	}
}

@media only screen and (min-width:1051px){
	

	.case-study-item{
		width:35%;
		display: inline-block;
	}
	.item-left{
		padding-right:20px;
		float:left;
	}
	.item-right{
		padding-left:20px;
		margin-top:100px;
	}
}
@media only screen and (max-width:1050px) and (min-width:836px){
	#case-studies{
		//left padding is controls center alignment because the items are left justified
		padding-left:0px;
	}

	.case-study-item{
		width:100%;
		margin:auto;
		margin-bottom:100px;
		display: block;
	}
	.item-left{
		padding-right:0px;
	}
	.item-right{
		padding-left:0px;
	}

	.outer-margin-offset{
		margin-left:50px;
		margin-right:50px;
	}
}

// small sizes
@media only screen and (max-width:835px){

	#logo-container{
		padding-top: 18px; //this is in addition to logo's padding
		text-align: center;
		width:100%;
		display: block;
		a{
			display: inline-block;
			#logo{
				width:160px;
			}
		}
	}

	#horizontal-nav-links{
		display: none;
	}

	#sidebar-open{
		display: block;
		img{
			width:18px;
			height:auto;
			position: absolute;
			top:60px;
			left:30px;
		}
	}

	#intro-brief{
		padding-left:5%;
		padding-right:5%;
	}

	.intro-details{
		padding-left:5%;
		padding-right:5%;
	}

	#case-studies{
		padding-left:0px;
		padding-right:0px;
	}
	.case-study-item{
		width:100%;
		margin:auto;
		margin-bottom:60px;
		display: block;

		h4,h2,h3{
			margin-left:50px;
			margin-right:50px;
		}
	}
	
	.item-left{
		padding-right:0px;
	}
	.item-right{
		padding-left:0px;
	}

	.outer-margin-offset{
		margin-left:50px;
		margin-right:50px;
	}

	footer{
		text-align: center;
		margin-left:25px;
		margin-right:25px;
		margin-bottom:50px;
		nav{
			position:relative;
			top:-30px;
			float:none;
			.social-links li{
				padding-right:15px;
			}
		}

		#copyright-notice{
			position:relative;
			float:none;
			top:40px;
			display: block;
		}
	}
	.horizontally-stacked{
		display: block;
		width:95%;
		margin:10px 10px 40px 10px;
	}
}

@media only screen and (max-width:321px){
	#waving-hand{
		display: none;
	}
}

.notice{
	background:#FDF3C8;
	font-size:0.9em;
	padding:20px 10px 20px 60px;
	font-weight:lighter;
	line-height: 30px;
}