<!-- Intro and overview -->

<h1>{{i18n "cannalign.openingHeader" | safeHTML}}</h1>
<h2>{{i18n "cannalign.openingSubText" | safeHTML}}</h2>
<p>{{i18n "cannalign.introduction" | safeHTML}}</p>



<!-- Challenges and roles -->

{{block "challenges-roles" .}} {{partial "challenges-roles.html" .}} {{end}}


<!-- Stage 1 -->

<h2>{{i18n "cannalign.stage1.header" | safeHTML}}</h2>
<p>{{i18n "cannalign.stage1.text" | safeHTML}}</p>
<h3>{{i18n "cannalign.stage1.subHeader1" | safeHTML}}</h3>
<p>{{i18n "cannalign.stage1.subHeader1.text" | safeHTML}}</p>


<!--Cannalign table lists -->
<div id="cannalign-lists-container">
	<div>
		<h4 class="uppercase">{{i18n "cannalign.table.culture.header" | safeHTML}}</h4>
		<p class="captions">{{i18n "cannalign.table.culture.subHeader" | safeHTML}}</p>
		<ul>
			<li>{{i18n "cannalign.table.culture.accessible" | safeHTML}}</li>
			<li><span class="highlighted">{{i18n "cannalign.table.culture.informationRich" | safeHTML}}</span></li>
			<li>{{i18n "cannalign.table.culture.open" | safeHTML}}</li>
			<li><span class="highlighted">{{i18n "cannalign.table.culture.local" | safeHTML}}</span></li>
		</ul>
	</div>
	<div>
		<h4 class="uppercase">{{i18n "cannalign.table.targetGroup.header" | safeHTML}}</h4>
		<p class="captions">{{i18n "cannalign.table.targetGroup.subHeader" | safeHTML}}</p>
		<ul>
			<li>{{i18n "cannalign.table.targetGroup.young" | safeHTML}}</li>
			<li>{{i18n "cannalign.table.targetGroup.openMinded" | safeHTML}}</li>
			<li><span class="highlighted">{{i18n "cannalign.table.targetGroup.searching" | safeHTML}}</span></li>
			<li>{{i18n "cannalign.table.targetGroup.adaptable" | safeHTML}}</li>
		</ul>
	</div>
	<div>
		<h4 class="uppercase">{{i18n "cannalign.table.voice.header" | safeHTML}}</h4>
		<p class="captions">{{i18n "cannalign.table.voice.subHeader" | safeHTML}}</p>
		<ul>
			<li><span class="highlighted">{{i18n "cannalign.table.voice.trustworthy" | safeHTML}}</span></li>
			<li>{{i18n "cannalign.table.voice.serious" | safeHTML}}</li>
			<li><span class="highlighted">{{i18n "cannalign.table.voice.community" | safeHTML}}</span></li>
			<li><span class="highlighted">{{i18n "cannalign.table.voice.abundant" | safeHTML}}</span></li>
		</ul>
	</div>
	<div>
		<h4 class="uppercase">{{i18n "cannalign.table.feeling.header" | safeHTML}}</h4>
		<p class="captions">{{i18n "cannalign.table.feeling.subHeader" | safeHTML}}</p>
		<ul>
			<li><span class="highlighted">{{i18n "cannalign.table.feeling.happy" | safeHTML}}</span></li>
			<li>{{i18n "cannalign.table.feeling.involved" | safeHTML}}</li>
			<li><span class="highlighted">{{i18n "cannalign.table.feeling.supported" | safeHTML}}</span></li>
		</ul>
	</div>
	<div>
		<h4 class="uppercase">{{i18n "cannalign.table.impact.header" | safeHTML}}</h4>
		<p class="captions">{{i18n "cannalign.table.impact.subHeader" | safeHTML}}</p>
		<ul>
			<li>{{i18n "cannalign.table.impact.expandingHorizons" | safeHTML}}</li>
			<li><span class="highlighted">{{i18n "cannalign.table.impact.extendedCommunity" | safeHTML}}</span></li>
		</ul>
	</div>
</div>
<p class="captions">
	{{i18n "cannalign.table.captions" | safeHTML}}
</p>

<h3>{{i18n "cannalign.stage1.subheader2" | safeHTML}}</h3>
<p>{{i18n "cannalign.stage1.subheader2.text" | safeHTML}}</p>


<!-- Persona -->

{{block "persona" .}} {{partial "persona.html" .}} {{end}}


<h3>{{i18n "cannalign.stage1.subheader3" | safeHTML}}</h3>
<p>{{i18n "cannalign.stage1.subheader3.text" | safeHTML}}</p>
<img class="case-study-related" src="/img/case-studies/iam-cannalign.jpg" alt="Stage 1 closing image">
<p class="captions">{{i18n "cannalign.stage1.closingImageCaptions" | safeHTML}}</p>



<!-- Stage 2 -->

<h2>{{i18n "cannalign.stage2.header" | safeHTML}}</h2>
<p>{{i18n "cannalign.stage2.text" | safeHTML}}</p>
<img class="case-study-related" src="/img/case-studies/img_wireframe.jpg" alt="Stage 2 closing image">
<p class="captions">{{i18n "cannalign.stage2.imageCaptions" | safeHTML}}</p>



<!-- Stage 3 -->

<h2>{{i18n "cannalign.stage3.header" | safeHTML}}</h2>
<h3>{{i18n "cannalign.stage3.subheader1" | safeHTML}}</h3>
<p>{{i18n "cannalign.stage3.subheader1.text" | safeHTML}}</p>

<!-- Moodboards -->
<div class="moodboards">
	<div class="big">
		<img src="/img/case-studies/img_01.jpg" alt="Moodboard 1">
	</div>
	<div class="small">
		<img src="/img/case-studies/img_02.jpg" alt="Moodboard 2">
		<img src="/img/case-studies/img_03.jpg" alt="Moodboard 3">
		<img src="/img/case-studies/img_04.jpg" alt="Moodboard 4">
		<img src="/img/case-studies/img_05.jpg" alt="Moodboard 5">
	</div>
</div>
<p class="captions">{{i18n "cannalign.stage3.moodboardCaptions" | safeHTML}}</p>


<h3>{{i18n "cannalign.stage3.subHeader2" | safeHTML}}</h3>
<p>{{i18n "cannalign.stage3.subHeader2.text" | safeHTML}}</p>

<h3>{{i18n "cannalign.stage3.subHeader3" | safeHTML}}</h3>
<p>{{i18n "cannalign.stage3.subHeader3.text" | safeHTML}}</p>

<!-- <a id="case-study-behance-link" href="#">
	<img src="/img/case-studies/btn_Behance.png" alt="Behance link">
</a> -->

<img class="case-study-related" src="/img/case-studies/ui-design-for-mobile-apps.jpg" alt="Stage 3 closing image">



<!-- Client words -->

{{block "client-remarks" .}} {{partial "client-remarks.html" .}} {{end}}



<!-- Conclusion -->

<h2>{{i18n "cannalign.conclusion.header" | safeHTML}}</h2>
<p>{{i18n "cannalign.conclusion.para1" | safeHTML}}</p>
<p>{{i18n "cannalign.conclusion.para2" | safeHTML}}</p>
