<!-- Persona -->
<div class="persona">
	<div class="profile" style="background-image: url('../{{.Params.caseStudy.inletImage}}');">
		<h4>{{.Params.caseStudy.inletPersonaName}}</h4>
		<h5>{{.Params.caseStudy.inletPersonaAge}}, {{.Params.caseStudy.inletPersonaProfession}}</h5>
		<h5>{{.Params.caseStudy.inletPersonaAddress}}</h5>
	</div>
	<div class="detail">
		<p class="quote">
			{{.Params.caseStudy.inletQuote}}
		</p>
		<p class="description">
			{{.Params.caseStudy.inletText}}
		</p>
		<div class="lists-container">
			<div>
				<h4 class="uppercase">goals</h4>
				<ul>
					{{range .Params.caseStudy.inletGoalsCommaSeperated}}
					<li>{{.}}</li>
					{{end}}
				</ul>
			</div>
			<div>
				<h4 class="uppercase">pain points</h4>
				<ul>
					{{range .Params.caseStudy.inletPainPointsCommaSeperated}}
					<li>{{.}}</li>
					{{end}}
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Clear the floats -->
<div style="clear: both;"></div> 
<p class="captions">
	{{.Params.caseStudy.inletCaptions}}
</p>