{{ define "main" }}
	<div id="intro" class="center-aligned">

		<h1 id="intro-brief">
			<img id="waving-hand" src="/img/ic_waving-hand.svg" alt="Waving hand">
			Hi, I’m Swati Soni. I am a <br/> Product Designer based in New Delhi, India.
		</h1>

		<p class="intro-details">
			I am a UI/UX design enthusiast, commited to make meaningful product experiences <br/> with a focus on storytelling.
		</p>
		<p class="intro-details">
				You can find my recent projects on 
				<a href="https://dribbble.com/swatisoni">Dribbble</a>, 
				<a href="https://www.instagram.com/_swatisoni/">Instagram</a> and
				<a href="https://www.behance.net/contactswabcf1">Behance</a> or 
				<a id="download-resume" href="/Swati_Soni_CV-2018.pdf" target="_blank"><span class="bold">download my resume</span></a><br/>
				to know about my professional journey.
		</p>
		<ul class="social-links">
			<li><a href="https://twitter.com/swaver28" target="_blank"><img src="/img/ic_twitter.svg" alt="Twitter"></a></li>
			<li><a href="https://www.linkedin.com/in/swatisoni1" target="_blank"><img src="/img/ic_linkedin.svg" alt="LinkedIn"></a></li>
			<li><a href="https://www.instagram.com/_swatisoni/" target="_blank"><img src="/img/ic_instagram.svg" alt="Instagram"></a></li>
			<li><a href="https://www.behance.net/contactswabcf1" target="_blank"><img src="/img/ic_behance.svg" alt="Behance"></a></li>
			<li><a href="https://dribbble.com/swatisoni" target="_blank"><img src="/img/ic_dribbble.svg" alt="Dribbble"></a></li>
			<li><a href="https://medium.com/@contact.swatisoni" target="_blank"><img src="/img/ic_medium.svg" alt="Medium"></a></li>
		</ul>
	</div>
		
	<!-- Scroll Down -->
	<div id="scroll-invite">
		<h4 id="work-intro-header" class="center-aligned">
			Scroll down to view my latest work
		</h4>
		<img src="/img/scroll-down2.gif" alt="Scroll down">
	</div>
	
	
	<!-- Case Studies -->
	{{/* Create a variable which holds case studies only. */}}
	{{ $caseStudies := where .Site.RegularPages "Section" "case-studies" }}
	<div id="case-studies">
		{{range $index,$caseStudy := $caseStudies}}
		{{ $remainder := (mod $index 2) }}
		<div {{if (eq $remainder 0)}}class="case-study-item item-left"{{else}}class="case-study-item item-right"{{end}}>
			{{if .Params.isCaseStudy}}
			<a href={{.URL}}>
			{{else}}
			<a href='{{.Params.externalPortfolioUrl}}' target="_blank">
			{{end}}
				<img src="{{.Params.previewImage}}" alt="Case study preview image">
				<h4 class="spaced-out passive-color light">{{.Params.previewCaption}}</h4>
				<h2>{{.Params.name}}</h2>
				<h3>{{.Params.previewOverview}}</h3>
			</a>
		</div>
		{{end}}
	</div>
	<!-- Clear the floats -->
	<div style="clear: both;"></div> 

{{end}}