
	<div id="intro" class="center-aligned">

		<h1 id="intro-brief">
			<img src="/img/ic_waving-hand.svg" alt="Waving hand">
			Hi, I’m Swati Soni. I am a Product Designer based in New Delhi, India.
		</h1>
	
		<p class="intro-details">
			I am a UI/UX design enthusiast, commited to make meaningful product experiences with a focus on storytelling,
		</p>
		<p class="intro-details">
				You can find my recent projects on 
				<a href="https://dribbble.com/swatisoni">Dribble</a>, 
				<a href="https://www.instagram.com/_swatisoni/">Instagram</a> and
				<a href="https://www.behance.net/SwatiVerma">Behance</a> or 
				<a href="/Swati_Soni_CV-2018.pdf"><span class="bold">download my resume</span></a> to
				know about my professional journey.
		</p>
		<ul class="social-links">
			<li><a href="https://twitter.com/swaver28"><img src="/img/ic_twitter.svg" alt="Twitter"></a></li>
			<li><a href="https://www.linkedin.com/in/swatisoni1"><img src="/img/ic_linkedin.svg" alt="LinkedIn"></a></li>
			<li><a href="https://www.instagram.com/_swatisoni/"><img src="/img/ic_instagram.svg" alt="Instagram"></a></li>
			<li><a href="https://www.behance.net/SwatiVerma"><img src="/img/ic_behance.svg" alt="Behance"></a></li>
			<li><a href="https://dribbble.com/swatisoni"><img src="/img/ic_dribbble.svg" alt="Dribble"></a></li>
			<li><a href="https://medium.com/@contact.swatisoni"><img src="/img/ic_medium.svg" alt="Medium"></a></li>
		</ul>
	</div>

	<!-- Case Studies -->
	<h4 id="work-intro-header" class="uppercase center-aligned">
		Here is some of my latest work
	</h4>

	<div id="case-studies">
		<div class="case-study-item item-left">
			<img src="/img/thumb_Cannalign.png" alt="Cannalign">
			<h4 class="spaced-out passive-color light">Case Study</h4>
			<h2>Cannalign</h2>
			<h3>Building a Product Database for Medical Marijuana. Bringing Retailers, Vendors and Consumers on One Single Platform.</h3>
		</div>
		<div class="case-study-item item-right">
			<img src="/img/thumb_VEME.png" alt="VEME">
			<h4 class="spaced-out passive-color light">Case Study <span class="tag">Ongoing</span></h4>
			<h2 class="uppercase">veme</h2>
			<h3>Empowering the Future of Social Video + Decentralised Media on Blockchain.</h3>
		</div>
		<div class="case-study-item item-left">
			<img src="/img/thumb_Appinventiv.png" alt="Appinventive">
			<h4 class="spaced-out passive-color light">View on Behance</h4>
			<h2>Appinventive</h2>
			<h3>Branding India’s Leading Mobile App Development Company</h3>
		</div>
		<div class="case-study-item item-right">
			<img src="/img/thumb_ET.png" alt="Economic Times">
			<h4 class="spaced-out passive-color light">View on Behance</h4>
			<h2>Economic Times</h2>
			<h3>Building a Digital Platform for Recognising Start-up Excellence Across The Country</h3>
		</div>
	</div>
